.footer{
    height: 300px;
    background-color: rgb(34,80,62);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.footer a,
.footer p{
    text-decoration: none;
    font-size: 16px;
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 10px;
}
.footer h5 {
    margin-top: 20px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}
.footer_heading{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer_heading ul{
    list-style-type: none;
    padding-left:0px;
    margin-top: 10px;
}
.footer_heading a:hover{
    color: rgb(255, 255, 255,0.7) ;
}

.footer_bottom{
    height: 130px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer_bottom_social{
    width: 200px;
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer_bottom_social i{
    font-size: 40px;
}
.footer_bottom_social a:hover{
    color:rgb(255, 255, 255,0.7);
}

.footer_bottom_button{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.footer_bottom_subcriable{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.footer_bottom_subcriable p,
.footer_bottom_subcriable h5{
    height: 0.6rem;
    margin-left: 8px;
    margin-top: 8px;
}
.footer_bottom_form input{
    border-radius: 5px;
    width: 210px;
    height: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    border: 0px;
    margin-left: 8px;
    padding-left: 12px;
}
#footer_subcriable_submit{
    width: 90px;
    height: 35px;
    margin-left: 15px;
    color: white;
    background-color: rgba(40, 33, 33, 0.6);
    cursor: pointer;
    padding: 0px;
}
#footer_subcriable_submit:hover{
    background-color:rgba(40, 33, 33, 0.8);
}
.footer_coppyright{
    display: flex;
    width: 100%;
    height: 30px;
    background-color:rgba(40, 33, 33, 0.6);

}
.footer_coppyright p{
    font-size: 13px;
    color: white;
    margin-top: 0.3rem;
}




